<div id="container">
	<div id="left">
	</div>
	<div id="center">
		<form id="form-busca" method="GET" action="<%= buscar_path %>"hidden>
				<input type="hidden" name="page" value="<%= @page.present? ? @page : 1 %>">
		</form>
			<div class="grupo-busca">
				<input class="input-busca" form="form-busca" type="text" name="busca" placeholder="Digite o nome do usuário...">
				<input type="hidden" form="form-busca" name="page" value="1">
				<button class="botao-busca" form="form-busca" type="submit">Buscar</button>
			</div>
			<p class="total-results"><%= @total_resultados.present? ? @total_resultados : @usuarios.count %> usuarios cadastrados</p>
			<% if @usuarios.present? %>
				<div id="lista-resultados">
					<% @usuarios.each do |usuario| %>
						<div class="resultado-card">
							<div class="card-imagem-container">
								<img src="<%= usuario.large_image.present? ? usuario.large_image.path : 'https://dummyimage.com/48x48/000/fff' %>" class="card-imagem">
							</div>
							<div class="card-body">
								<div class="card-body-title"><%= usuario.nome %></div>
								<div class="card-body-subtitle"><%= usuario.email %></div>
								<div class="card-body-tag-<%= usuario.genero %>"><%= usuario.genero.capitalize %></div>
							</div>
						</div>
					<% end %>
				</div>
			<% end %>
	</div>
	<div id="right">
	</div>
</div>